body {
    background-color: #f56d05;
    text-align: center;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
}

#post{
    border: 5px outset red;
    border-radius: 30px;
    background-color: rgb(243, 94, 8);
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    color: rgb(138, 0, 0);
}
#description{
    height: 200px;
    width: 300px;
    background-color: rgb(255, 255, 255);
}

.button{
    background-color: red;
    border: 5px outset red;
    border-radius: 30px;
    margin-bottom: 2px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding: 2px;
    font-family: cursive;
}
    
.button:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.logo{
    font-family: cursive;
    font-size: 50px;
    color: rgb(255, 0, 0);
    text-shadow: 2px 4px #000000;
}
a{
    text-decoration: none;
}
a:visited{
    color:#000000;
}
.post_display{
    width: 80%;
    text-align: center;
    border: 5px outset red;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.post_display img{
    height: 300px;
    width: auto;
    object-fit: contain;
}

.name_link{
    text-decoration: none;
    color: rgb(179, 0, 0);
}

.name_link:active {
    transform: translateY(2px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.single_post{
    border: 5px outset red;
    border-radius: 30px;
    background-color: rgb(243, 94, 8);
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: 25px;
}

.single_post img{
    height: 300px;
    width: auto;
    object-fit: contain;
}

.tag{
    color: rgb(26, 0, 99);
    border: 5px outset red;
    border-radius: 30px;
    background-color: #b64f00;
    padding-left: 5px;
    padding-right: 5px;
    font-family: cursive;
}
.lang{
    color: rgb(253, 81, 37);
    text-decoration: none;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
    overflow: hidden;
    background-color: #882a2a;
}

.navbar li{
    float:right;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 28px 16px;
    text-decoration: none;
}

.navbar .left{
    float:left;
}

span{
    float:right;
    padding-right: 20px;
    padding-top: 10px;
    margin: 10px;
}

.logout{
    padding: 2px;
}

.manage-posts tr{
    border: 5px outset red;
    border-radius: 30px;
}

#return_button{
    background-color: red;
    border: 5px outset red;
    border-radius: 30px;
    margin-bottom: 2px;
    text-decoration: none;
    color: #000000;
    padding: 2px;
    font-family: cursive;
}